@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-display: 'Urbanist', sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #8DFF69;
}

@layer base {
  html {
    font-family: var(--font-display);
    scroll-behavior: smooth;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
    overflow-x:hidden ;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background:  #0a0a0a;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8DFF69 , #6fe047);
    border-radius: 10px;
  }

   ::-webkit-scrollbar-thumb:hover {
     background: linear-gradient(180deg, #a8ff8d , #5bc92e);
}

*{
  scrollbar-width: thin;
  scrollbar-color: #6ff047  #0a0a0a;
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera*/

}

@keyframe fadeIn{
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes pulse {
  0% , 100%
{
  opacity: 0.3;
}
50%{
 opacity: 0.5;
 }
}

.animate-fadeIn{
  animation: fadeIn 0.5s ease-out;
}

.animate-puise {
  animation: pulese 3s ease-in-out infinte;
}

.animate-spin-slow{
  animation: spin 8s linear infinite;
}
 


@keyfreames spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
}
}
 
.line-clamp-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.line-clamp-3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
}